body{
    background: linear-gradient(to bottom, #dff6ff, #b8e8fc);
    font-family: Arial, Helvetica, sans-serif;
    color:#1b3b5f;
    margin:0;
    padding:20px;
    line-height:1.6;
}

h1{
    background:#0096c7;
    color:white;
    text-align:center;
    width:50%;
    margin:20px auto;
    padding:15px;
    border-radius:20px;
    font-size:50px;
    box-shadow:0px 5px 12px rgba(0,0,0,.25);
}

h2,h3{
    background:#48cae4;
    color:#023047;
    width:40%;
    margin:30px auto 15px;
    padding:10px;
    text-align:center;
    border-radius:15px;
}

h4{
    color:#005f73;
    font-size:24px;
}

p{
    text-align:center;
    font-size:18px;
}

a{
    color:#005f73;
    text-decoration:none;
    font-weight:bold;
    margin:0 15px;
    font-size:18px;
}

a:hover{
    color:#d62828;
    text-decoration:underline;
}

body > a{
    display:inline-block;
    margin-bottom:20px;
}

img{
    display:block;
    width:60%;
    max-width:700px;
    margin:25px auto;
    border-radius:20px;
    box-shadow:0px 8px 18px rgba(0,0,0,.30);
}

ul,ol{
    width:35%;
    margin:auto;
    font-size:18px;
}

table{
    width:80%;
    margin:25px auto;
    border-collapse:collapse;
    background:white;
    box-shadow:0px 5px 15px rgba(0,0,0,.20);
}

th{
    background:#0096c7;
    color:white;
    padding:12px;
}

td{
    padding:10px;
    text-align:center;
}

tr:nth-child(even){
    background:#edf9ff;
}

tr:hover{
    background:#caf0f8;
}

form{
    width:90%;
    margin:auto;
}

fieldset{
    border:3px solid #0096c7;
    border-radius:15px;
    background:white;
    padding:20px;
}

legend{
    font-weight:bold;
    color:#023047;
    font-size:20px;
    padding:0 10px;
}

label{
    font-weight:bold;
}

input,
select{
    padding:6px;
    border-radius:6px;
    border:1px solid #999;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width:95%;
}

input[type="submit"]{
    background:#00b4d8;
    color:white;
    border:none;
    padding:10px 25px;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
    font-size:16px;
}

input[type="submit"]:hover{
    background:#0077b6;
}

hr{
    border:none;
    height:3px;
    background:#0096c7;
    width:90%;
    margin:35px auto;
    border-radius:10px;
}

strong{
    color:#023047;
}